<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated studies -->
      <package
            uri="platform:/plugin/no.ntnu.tdt4250.oving1.model/model/studies.ecore"
            class="no.ntnu.tdt4250.oving1.studies.StudiesPackage"
            genModel="model/studies.genmodel"/>
   </extension>

	<extension
	      point="org.eclipse.emf.ecore.validation_delegate">
    <delegate
          class="org.eclipse.acceleo.query.delegates.AQLValidationDelegate"
          uri="http://www.eclipse.org/acceleo/query/1.0">
    </delegate>
	</extension>

</plugin>
